DATABASE_URL=postgresql://vayux:vayux@localhost:5432/vayux
DATA_GOV_IN_API_KEY=""
NASA_FIRMS_KEY=""
GEMINI_API_KEY=""
ATMOSPHERIC_ENGINE_URL=http://localhost:8000
NEXT_PUBLIC_WS_URL=ws://localhost:8000/ws/jarvis-live
